## This is a template configuration file for Celery (http://celeryproject.org/)

CELERY_IMPORTS = ('pygdv.celery.tasks',)

## Result storage settings                                                                                                                                                                                 
CELERY_RESULT_BACKEND = 'database'
CELERY_RESULT_DBURI = 'sqlite:///pygdv.database.sqlite'

## Broker settings                                                                                                                                                                                         
BROKER_TRANSPORT = 'sqlakombu.transport.Transport'
BROKER_HOST = 'sqlite:///pygdv.database.sqlite'
