CELERY_IMPORTS = ('pygdv.celery.tasks',)

## Result storage settings
CELERY_RESULT_BACKEND = 'database'
CELERY_RESULT_DBURI = 'sqlite:///mydb.db'

#CELERY_RESULT_ENGINE_OPTIONS = {'echo':True}

## Broker settings
BROKER_URL = 'amqp://pygdvuser:pygdvpasswd@localhost:5672/pygdvhost'


