body {
  background: none repeat scroll 0 0 #FEFEFE;
  color: #000000;
  font: 0.8em/1.6em "Lucida Grande",Arial,Verdana,sans-serif;
  min-width: 80em;
}

a {
    color: #286571;
}


/** HEADER  */

#header {
  background: none repeat scroll 0 0 #1D2D44;
  height: 30px;
  padding: 0.5em;
  z-index: 100;
}
#header h1 {
	padding: 0;
	margin: 0;
	padding-top: 0.2em;
	padding-left: 3em;
	color: #fff;
	font-size: 2.2em;
}


/** MENU */

ul#navigation{
    background: none repeat scroll 0 0 #CCCCCC;
    height: 40px;
    left: 0em;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 50;
}
ul#navigation li{
    display:inline;
    list-style-type:none;
    float: left;
    padding: 0 0.5em;
}
ul#navigation a{
    color: black;
  display: block;
  font-size: 1.2em;
  padding: 0.6em 3em 0.4em 3em;
  text-decoration: none;
}

ul#navigation li a.active {
    background-color: #2261AB;
    color: white;
}
ul#navigation li a:hover{
    background-color: #1D2D44;
    color: white;
}

li > a.menu_home{
    background: url('../img/menu_home.png') no-repeat left center;
}
li > a.menu_tracks{
    background: url('../img/menu_tracks.png') no-repeat left center;
}
li > a.menu_projects{
    background: url('../img/menu_projects.png') no-repeat left center;
}
li > a.menu_help{
    background: url('../img/menu_help.png') no-repeat left center;
}
li > a.menu_jobs{
    background: url('../img/menu_jobs.png') no-repeat left center;
}
li > a.menu_circles{
    background: url('../img/menu_circles.png') no-repeat left center;
}



#content {
    /* position: absolute; */
    /* top: 5.6em; */
    margin: 1em 0em 1em 0em;
    width:100%;
    left:0;
    padding-bottom: 9em;
}



/* controls */

div#controls {
  background: none repeat scroll 0 0 #F7F7F7;
  height: 40px;
  z-index: 50;
}


div.actions {
  float: left;
  height: 2em;
  padding: 0.5em;
  margin-left: 1em;
  max-width: 25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.ttactions {
  float: left;
  height: 2em;
  padding: 0.5em;
  margin-left: 1em;
  max-width: 25em;
}


div.dataTables_filter{
    position: absolute;
    right: 12px;
    top: 90px;
}


/* tooltips */


.tooltip_gdv{
    position:relative;
    top: 0.4em;
    
}
.tooltip_pane{
    width: 200px;
    position: absolute;
    display:none;
    
}
div.tooltip_hider{
    background: url('../images/question.png') no-repeat;
    width: 16px;height: 16px;
   
}

.tooltip_title, .httitle{
    padding:0.1px;
    color: #FFFFFF;
    text-align: center;
    background: #1D2D44;
    
}
.tooltip_body{
    padding: 10px;
    text-align: left;
    background: #CCCCCC;
    color: #000000;
}


table.grid td {
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align:right;
}
table.grid th {
    text-align:right;
}

table.grid td:first-child, table.grid th:first-child{
    text-align:left;
}
table.grid th>:first-child {
    text-align:left;
}
div.crud_table tr{
    cursor: pointer;
}
div.crud_table thead{
    color: #999999;
    height: 2em;
    background-color : #FEFEFE;
    text-transform: capitalize;
}

div.crud_table .grid .odd.row_hover, div.crud_table .grid .even.row_hover{
    background-color: #F0F0F0;
}
div.crud_table .grid{
    border-collapse: collapse;
}
div.crud_table .grid .row_selected{
    background-color: #ddf;
}
div.crud_table .grid .odd{
     background-color: #FEFEFE;
}
div.crud_table .grid .even{
    background-color: #FEFEFE;
}
div.crud_table .grid tr{
    height: 2em;
}

div.dataTables_length{
    position: absolute;
    right: 16em;
    top: 0.5em;
    
}
div.dataTables_info{
    position: absolute;
    top: 0.5em;
    right: 1em;
}

div.dataTables_paginate{
    position: absolute;
    height: 2.8em;
    right:30em;
    top: 0.7em;
}

div.paginate_disabled_next{
    background: url('../images/arrow-next.png') top left no-repeat;
    height:16px;
    width: 16px;
    float: left;
    opacity:0.4;
    filter:alpha(opacity=40)
}
div.paginate_disabled_previous{
background: url('../images/arrow-previous.png') top left no-repeat;
    height:16px;
    width: 16px;
    float: left;
    opacity:0.4;
    filter:alpha(opacity=40)
}
div.paginate_enabled_previous{
background: url('../images/arrow-previous.png') top left no-repeat;
    height:16px;
    width: 16px;
    float: left;
}
div.paginate_enabled_next{
    height:16px;
    width: 16px;
    float: left;
    background: url('../images/arrow-next.png') top left no-repeat;
}


/* actions */
div.table_hidden{
    display:none;
}

div.tr_actions{
    position:absolute;
    width:30em;
    cursor:pointer;
}
a.action{
    width:16px;
    height:16px;
    float:left;
    padding-left:1.5em;
}

.action_hover{
    display:block;
}
a.view_link{
    background-repeat: no-repeat;
    background-image: url('../images/view.png');
}

a.share_link{
    background-repeat: no-repeat;
    background-image: url('../images/share.png');
}

a.detail_link{
    background-repeat: no-repeat;
    background-image: url('../images/plus.png');
}

a.delete_link{
    background-repeat: no-repeat;
    background-image: url('../images/delete.png');
}
.crud_table .grid .delete-button{
    font-size: inherit;
    padding-left:1.5em;
    background-image: url('../images/delete.png');
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    float:left;
}
a.copy_link{
    background-repeat: no-repeat;
    background-image: url('../images/copy.png');
}

a.edit_link{
    background-repeat: no-repeat;
    background-image: url('../images/pencil.png');
}
a.add_link{
    background-repeat: no-repeat;
    background-image: url('../images/add.gif');
}

a.export_link{
    background-repeat: no-repeat;
    background-image: url('../images/export.png');
}



/* dynamic forms */
div.add_user_c, div.add_project_c, div.add_track_c, div.add_circle_c{
    background: none repeat scroll 0 0 #CCCCCC;
    border-right: 1px solid #CCCCCC;
    box-shadow: -3px 0 7px #000000;
    z-index: 600;
    position:absolute;
    padding: 5px;
}

/** FOOTER */

#footer {
background: none repeat scroll 0 0 #CCCCCC;
border-bottom: 1px solid #CCCCCC;
box-shadow: 0 -3px 7px #000000;
height: 2.8em;
left: 0em;
margin: 0;
padding: 0;
bottom:0;
width: 100%;
z-index: 50;
}


a {
    color: #286571;
}


/* tracks */

.track-failure{
    opacity:0.5;
    filter:alpha(opacity=50);
    background-color:red;
}

.circle_select, .track_select{
height:18em;
max-width:20em;
}


#left_stack{
    overflow-x:hidden; 
    border-right: 1px solid #EEEEEE;
     height: 100%;
     width:15em;
}


ul#left_stack {

    margin: 0;
    padding: 0;
    color:black;
}


ul#left_stack li {
    list-style-type: none;
    margin: 1px;
    padding: 0;
    /* border: 1px solid #CCCCCC; */
    /* box-shadow: 0 0px 4px #000000; */
    width:100%;
    overflow:hidden;
    height:26px;
    text-align:center;
    background-color: #F7F7F7;
/* osition: relative; */
    /* display: inline; */
    /* float: left; */
}

ul#left_stack li.all, ul#left_stack li.all a {
    background-color: #1D2D44;
    color: white;
}

ul#left_stack li.selected {
    background-color: #2261AB;
    color: white;
}

ul#left_stack li.shared {
    background-color: #4087d9;
    color: white;
}

ul#left_stack li a {
	color:black;
	height: 31px;
	display: block;
	line-height: 30px;
	vertical-align: middle;
	padding: 0 10px;
	font-size: 12px;
	text-decoration: none;
	/* background: url('../images/menu-item-border.png') left top no-repeat; */
}
ul#left_stack li a:hover{
    background-color: #1D2D44;
    color: white;
}


#flash, .notice {
font-size:120%;
font-weight:bolder;
margin:0pt auto 0.5em;
width:680px;
color:white;
}
#flash div, .notice {
padding-left:35px;
}
#flash .ok {
background:#2261AB url(../images/ok.png) no-repeat scroll 10px center;
}
#flash .warning {
background:#2261AB url(../images/warning.png) no-repeat scroll 10px center;
}
#flash .error {
background:#2261AB url(../images/error.png) no-repeat scroll 10px center;
}
#flash .alert,
#flash .info {
background:#2261AB url(../images/info.png) no-repeat scroll 10px center;
}
.notice {
background:#2261AB url(../images/info.png) no-repeat scroll 10px center;
}
.fielderror {
color:red;
font-weight:bold;
}
div.clearingdiv {
clear:both;
}
.error{
    color: red;
    font-weight: bold;
}
.httitle{


}
.tr_info{
    position: absolute;
    padding: 1px;
    text-align: left;
    background: #CCCCCC;
    color: #000000;
    white-space: normal;
    text-align:left;
}
