<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="definitions.html"/>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title py:replace="page"></title>
</head>
<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
}
</style>

<body class="tundra">
  
  <div id="controls">
    <div class="actions">
      <a href="${tg.url(model)}s/new">New $model</a>
    </div>
    <div class="actions"><span py:replace="tooltip"/></div>
  </div>
  
  <div class="crud_table" style="height:50%; width:90%">
    <div py:choose="item.grid_display">
      <div py:when="True">
	<div py:content="item.grid(value=item.grid_data)"></div>
      </div>
      <div py:when="False">
	<h1>No Data</h1>
      </div>
      
    </div>
    
  </div>



</body>
</html>
