<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="definitions.html"/>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title py:replace="page"></title>
</head>
<body>
  


    
    <div class="ui-layout-center crud_table">
      ${flash()}
      <div py:for="item in items">
	<div py:choose="item.grid_display">
	  
	  <div py:when="True">
	    <div py:content="item.grid(item.grid_data)"></div>
	  </div>
	  <div py:when="False">
	    <h1>No Users</h1>
	  </div>
	  
	</div>
      </div>
    </div>

     <div id="south" class="ui-layout-south">
    ${footer()}
  </div>
     

    <div id="north" class="ui-layout-north">
      ${header()}
      ${mainmenu()}
      <div id="controls" class="ui-layout-north">
	<div class="actions"><a href="${tg.url('/circles')}">back</a></div>
	<div class="actions">Editing circle</div>
	<div class="actions">
	  <a id="add_user_c" href="#">Add user</a>
	  <div class="add_user_c" style="${('display:none', '')[defined('au_error')]}">
	    <span py:replace="widget.display()">Add User Form</span></div>
	</div>
      </div>
    </div>
    


</body>
</html>
