<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">


  <py:def function="flash">
    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
      <div py:if="flash" py:content="XML(flash)" />
    </py:with>
  </py:def>


<py:def function="jquery">
  <script type="text/javascript" src="${tg.url('/javascript/jslib/DataTables-1.8.2/media/js/jquery.js')}"></script>
</py:def>

<py:def function="datatable">
    <script type="text/javascript" src="${tg.url('/javascript/jslib/DataTables-1.8.2/media/js/jquery.dataTables.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/DataTables.js')}"></script>
</py:def>


<py:def function="layout">
  <script type="text/javascript" src="${tg.url('/javascript/jslib/layout.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/Style.js')}"></script>
</py:def>


 <py:def function="species">
      <script type="text/javascript" src="${tg.url('/javascript/js/spass.js')}"></script>
  </py:def>



<!-- Menu bar for GDV -->

<py:def function="mainmenu">
    <ul id="navigation">
      <!-- <li class="first"><a href="${tg.url('/')}" class="${('', 'active')[defined('page') and page=='index']} menu_home">Home</a></li> -->
      <li><a href="${tg.url('/tracks')}" class="${('', 'active')[defined('page') and page=='tracks']} menu_tracks">Projects</a></li>      
      <li><a href="${tg.url('/circles')}" class="${('', 'active')[defined('page') and page=='circles']} menu_circles">Circles</a></li>
       <li><a href="${tg.url('/jobs')}" class="${('', 'active')[defined('page') and page=='jobs']} menu_jobs">Analysis</a></li>
        <!-- <li><a href="${tg.url('/jobs')}" class="${('', 'active')[defined('page') and page=='jobs']} menu_jobs">Jobs</a></li>  -->
      <li><a href="${tg.url('/me')}" class="${('', 'active')[defined('page') and page=='user']} menu_user">User</a></li>
      <li><a href="${tg.url('/help')}" class="${('', 'active')[defined('page') and page=='help']} menu_help">Help</a></li>           
      <span py:if="tg.auth_stack_enabled" py:strip="True">
	<li py:if="request.identity and request.identity['userdata'].split('|')[1] == True" id="login" class="loginlogout ${('', 'active')[defined('page') and page=='admin']}"><a href="${tg.url('/admin')}">Admin</a></li>
	<li py:if="not request.identity" id="login" class="loginlogout"><a href="${tg.url('/login')}">Login</a></li>
	<li py:if="request.identity" id="login" class="loginlogout"><a href="${tg.url('/login/out')}">Logout</a></li>
	
      </span>
    </ul>
  </py:def>



<!-- A simple form -->
  <py:def function="item_form(value)">
    <h1><div py:replace="form_title"/></h1>
    <div py:replace="tmpl_context.form(value)">Input Form</div>
  </py:def>

<!-- An info on an item -->
<py:def function="item_info(info)">
  <h1>$model</h1>
  <div py:content="info.grid(info.grid_data)"></div>
</py:def>





<py:def function="project_toolbar(project_id, upload)">
    <li>
      <a class="action" href="${tg.url('/projects/view')}/${project_id}">
          <img src="../images/view.png" width="15" height="10" style="position:relative;top:5px;"/>View</a>
    </li>
    <!-- action visible only if you have the upload permission on the project -->
    <li style="${('display:none', '')[defined('upload') and upload != None]}">
      <a class="action" href="${tg.url('/projects/edit')}/${project_id}">
          <img src="../images/pencil.png" width="15" height="15" style="position:relative;top:5px;"/>Edit</a>
    </li>
    <li style="${('display:none', '')[defined('upload') and upload != None]}">
      <a class="action" href="${tg.url('/projects/share')}/${project_id}">
          <img src="../images/share.png" width="15" height="15" style="position:relative;top:6px;"/>Share</a>
    </li>
    <li style="${('display:none', '')[defined('upload') and upload != None]}">
      <a class="action" href="${tg.url('/projects/delete')}/${project_id}">
          <img src="../images/delete.png" width="15" height="15" style="position:relative;top:5px;"/>Delete</a>
    </li>
</py:def>



<py:def function="project_admin_toolbar(project_id, upload)">
  <ul id="project_toolbar" style="${('display:none', '')[defined('project_id') and project_id != None]}">
    
    <li>
      <a class="action" id="view_project" href="${tg.url('/projects/view/')}/${project_id}">
          <img src="../../images/view.png" width="21" height="16" style="position:relative;top:5px;"/>
      View</a>
    </li>
    
    <!-- action visible only if you have the upload permission on the project -->
    
    <li style="${('display:none', '')[defined('upload') and upload != None]}">
      <a class="action" id="edit_project" href="${tg.url('/projects/edit')}/${project_id}">
          <img src="../../images/pencil.png" width="21" height="21" style="position:relative;top:5px;"/>
      Edit</a>
    </li>
    
    <li style="${('display:none', '')[defined('upload') and upload != None]}">
      <a class="action" id="share_project" href="${tg.url('/projects/share')}/${project_id}">
          <img src="../../images/share.png" width="16" height="16" style="position:relative;top:6px;"/>
      Share</a>
    </li>
    
    <li style="${('display:none', '')[defined('upload') and upload != None]}">
      <a class="action" id="remove_project" href="${tg.url('/projects/delete')}/${project_id}">
          <img src="../../images/delete.png" width="16" height="16" style="position:relative;top:5px;"/>
      Delete</a>
    </li>
    
  </ul>
  
</py:def>
</html>



