<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">


  <py:def function="flash">
    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
      <div py:if="flash" py:content="XML(flash)" />
    </py:with>
  </py:def>
<!-- Menu bar for GDV -->

<py:def function="mainmenu">
    <ul id="navigation">
      <!-- <li class="first"><a href="${tg.url('/')}" class="${('', 'active')[defined('page') and page=='index']} menu_home">Home</a></li> -->
      <li><a href="${tg.url('/tracks')}" class="${('', 'active')[defined('page') and page=='tracks']} menu_tracks">Tracks</a></li>      
      <li><a href="${tg.url('/circles')}" class="${('', 'active')[defined('page') and page=='circles']} menu_circles">Circles</a></li>           
      <!-- <li><a href="${tg.url('/jobs')}" class="${('', 'active')[defined('page') and page=='jobs']} menu_jobs">Jobs</a></li>  -->          
      <li><a href="${tg.url('/help')}" class="${('', 'active')[defined('page') and page=='help']} menu_help">Help</a></li>           
      <span py:if="tg.auth_stack_enabled" py:strip="True">
	<li py:if="request.identity" id="login" class="loginlogout ${('', 'active')[defined('page') and page=='admin']}"><a href="${tg.url('/admin')}">Admin</a></li>
	<li py:if="not request.identity" id="login" class="loginlogout"><a href="${tg.url('/login')}">Login</a></li>
	<li py:if="request.identity" id="login" class="loginlogout"><a href="${tg.url('/login/out')}">Logout</a></li>
	
      </span>
    </ul>
  </py:def>



<!-- A simple form -->
  <py:def function="item_form(value)">
    <h1><div py:replace="form_title"/></h1>
    <div py:replace="tmpl_context.form(value)">Input Form</div>
  </py:def>

<!-- An info on an item -->
<py:def function="item_info(info)">
  <h1>$model</h1>
  <div py:content="info.grid(info.grid_data)"></div>
</py:def>





<py:def function="project_toolbar(project_id, upload)">

  <ul id="project_toolbar" style="${('display:none', '')[defined('project_id') and project_id != None]}">
    
    <li>
      <a id="view_project" href="${tg.url('/projects/view/')}/${project_id}"><img src="../images/view.png" width="21" height="16" style="position:relative;top:5px;"/></a>
    </li>
    
    <!-- action visible only if you have the upload permission on the project -->
    
    <li style="${('display:none', '')[defined('upload') and upload != None]}">
      <a id="edit_project" href="${tg.url('/projects/edit')}/${project_id}"><img src="../images/pencil.png" width="21" height="21" style="position:relative;top:5px;"/></a>
    </li>
    
    <li style="${('display:none', '')[defined('upload') and upload != None]}">
      <a id="share_project" href="${tg.url('/projects/share')}/${project_id}"><img src="../images/share.png" width="16" height="16" style="position:relative;top:6px;"/></a>
    </li>
    
    <li style="${('display:none', '')[defined('upload') and upload != None]}">
      <a id="remove_project" href="${tg.url('/projects/delete')}/${project_id}"><img src="../images/delete.png" width="16" height="16" style="position:relative;top:5px;"/></a>
    </li>
    
  </ul>
  
</py:def>
</html>



