<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">


<!-- Menu bar for GDV -->
  <py:def function="mainmenu">
    <ul id="navigation">
      <li class="first"><a href="${tg.url('/')}" class="${('', 'active')[defined('page') and page=='index']} menu_home">Home</a></li>
      <li><a href="${tg.url('/tracks')}" class="${('', 'active')[defined('page') and page=='tracks']} menu_tracks">Tracks</a></li>
      <li><a href="${tg.url('/projects')}" class="${('', 'active')[defined('page') and page=='projects']} menu_projects">Projects</a></li>           
      <li><a href="${tg.url('/circles')}" class="${('', 'active')[defined('page') and page=='circles']} menu_circles">Circles</a></li>           
      <li><a href="${tg.url('/jobs')}" class="${('', 'active')[defined('page') and page=='jobs']} menu_jobs">Jobs</a></li>           
      <li><a href="${tg.url('/help')}" class="${('', 'active')[defined('page') and page=='help']} menu_help">Help</a></li>           
      <span py:if="tg.auth_stack_enabled" py:strip="True">
	<li py:if="request.identity" id="login" class="loginlogout ${('', 'active')[defined('page') and page=='admin']}"><a href="${tg.url('/admin')}">Admin</a></li>
	<li py:if="not request.identity" id="login" class="loginlogout"><a href="${tg.url('/login')}">Login</a></li>
	<li py:if="request.identity" id="login" class="loginlogout"><a href="${tg.url('/login/out')}">Logout</a></li>
	
	<!-- SUPRESS THESE TWo LINE FOR A PRODUCTION VERSION -->
	<!-- <li><a href="${tg.url('/data')}" class="${('', 'active')[defined('page') and page=='data']}">Data</a></li> -->
	<!-- <li><a href="${tg.url('/environ')}" class="${('', 'active')[defined('page') and page=='environ']}">WSGI Environment</a></li> -->
	<!-- -->
      </span>
    </ul>
  </py:def>



<!-- A simple form -->
  <py:def function="item_form(value)">
    <h1><div py:replace="form_title"/></h1>
    <div py:replace="tmpl_context.form(value)">Input Form</div>
  </py:def>

<!-- An info on an item -->
<py:def function="item_info(info)">
  <h1>$model</h1>
  <div py:content="info.grid(info.grid_data)"></div>
</py:def>




  <!-- A simple item grid -->
  <py:def function="item_list(items)">
    
    <div id="controls">
      <div class="actions">
	<a href="../${tg.url(model)}s/new" class="add_link">New $model</a>
      </div>
      <div class="ttactions"><span py:replace="tooltip"/></div>
    </div>
    
    <div class="crud_table">
      <div py:for="item in items">
	<div py:choose="item.grid_display">
	  
	  <div py:when="True">
	    <div py:content="item.grid(item.grid_data)"></div>
	  </div>
	  <div py:when="False">
	    <h1>No Data</h1>
	  </div>
	  
	</div>
      </div>
    </div>
  </py:def>



 <py:def function="item_circle(items)">
    
    <div id="controls">
      <div class="actions">
	<a id="add_user_c" href="#">Add user</a>
	<div class="add_user_c"><span py:replace="widget.display()">Add User Form</span></div>
      </div>
      <div class="ttactions"><span py:replace="tooltip"/></div>
    </div>
    
    <div class="crud_table">
      <div py:for="item in items">
	<div py:choose="item.grid_display">
	  
	  <div py:when="True">
	    <div py:content="item.grid(item.grid_data)"></div>
	  </div>
	  <div py:when="False">
	    <h1>No Users</h1>
	  </div>
	  
	</div>
      </div>
    </div>
  </py:def>
  

<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">


<!-- Menu bar for GDV -->
  <py:def function="mainmenu">
    <ul id="navigation">
      <li class="first"><a href="${tg.url('/')}" class="${('', 'active')[defined('page') and page=='index']} menu_home">Home</a></li>
      <li><a href="${tg.url('/tracks')}" class="${('', 'active')[defined('page') and page=='tracks']} menu_tracks">Tracks</a></li>
      <li><a href="${tg.url('/projects')}" class="${('', 'active')[defined('page') and page=='projects']} menu_projects">Projects</a></li>           
      <li><a href="${tg.url('/circles')}" class="${('', 'active')[defined('page') and page=='circles']} menu_circles">Circles</a></li>           
      <li><a href="${tg.url('/jobs')}" class="${('', 'active')[defined('page') and page=='jobs']} menu_jobs">Jobs</a></li>           
      <li><a href="${tg.url('/help')}" class="${('', 'active')[defined('page') and page=='help']} menu_help">Help</a></li>           
      <span py:if="tg.auth_stack_enabled" py:strip="True">
	<li py:if="request.identity" id="login" class="loginlogout ${('', 'active')[defined('page') and page=='admin']}"><a href="${tg.url('/admin')}">Admin</a></li>
	<li py:if="not request.identity" id="login" class="loginlogout"><a href="${tg.url('/login')}">Login</a></li>
	<li py:if="request.identity" id="login" class="loginlogout"><a href="${tg.url('/login/out')}">Logout</a></li>
	
	<!-- SUPRESS THESE TWo LINE FOR A PRODUCTION VERSION -->
	<!-- <li><a href="${tg.url('/data')}" class="${('', 'active')[defined('page') and page=='data']}">Data</a></li> -->
	<!-- <li><a href="${tg.url('/environ')}" class="${('', 'active')[defined('page') and page=='environ']}">WSGI Environment</a></li> -->
	<!-- -->
      </span>
    </ul>
  </py:def>



<!-- A simple form -->
  <py:def function="item_form(value)">
    <h1><div py:replace="form_title"/></h1>
    <div py:replace="tmpl_context.form(value)">Input Form</div>
  </py:def>

<!-- An info on an item -->
<py:def function="item_info(info)">
  <h1>$model</h1>
  <div py:content="info.grid(info.grid_data)"></div>
</py:def>




  <!-- A simple item grid -->
  <py:def function="item_list(items)">
    
    <div id="controls">
      <div class="actions">
	<a href="../${tg.url(model)}s/new">New $model</a>
      </div>
      <div class="ttactions"><span py:replace="tooltip"/></div>
    </div>
    
    <div class="crud_table">
      <div py:for="item in items">
	<div py:choose="item.grid_display">
	  
	  <div py:when="True">
	    <div py:content="item.grid(item.grid_data)"></div>
	  </div>
	  <div py:when="False">
	    <h1>No Data</h1>
	  </div>
	  
	</div>
      </div>
    </div>
  </py:def>

  <py:def function="item_listv2(item)">
    
    <div id="controls">
      <div class="actions">
	<a href="../${tg.url(model)}s/new" class="add_link">New $model</a>
      </div>
      <div class="ttactions"><span py:replace="tooltip"/></div>
    </div>
    
    <div class="crud_table">
      <div py:choose="item.grid_display">
	  
	<div py:when="True">
	  <div py:content="item.grid(value=item.grid_data)"></div>
	</div>
	<div py:when="False">
	  <h1>No Data</h1>
	</div>
	
      </div>
      
    </div>
  </py:def>



 <py:def function="item_circle(items)">
   <div id="controls">
     <div class="actions">
       ${name}
     </div>
     <div class="actions">
       <a id="add_user_c" href="#">Add user</a>
       <div class="add_user_c" style="${('display:none', '')[defined('error')]}"><span py:replace="widget.display()">Add User Form</span></div>
     </div>
     <div class="ttactions"><span py:replace="tooltip"/></div>
   
   </div>
    
   <div class="crud_table">
     <div py:for="item in items">
       <div py:choose="item.grid_display">
	 
	 <div py:when="True">
	   <div py:content="item.grid(item.grid_data)"></div>
	 </div>
	 <div py:when="False">
	   <h1>No Users</h1>
	 </div>
	 
       </div>
     </div>
    </div>
 </py:def>
 

<py:def function="item_list_without_link(items)">
      <div class="crud_table">
        <div py:for="item in items">
	<div py:choose="item.grid_display">
	  
	<span py:when="True">
	  <h1><span py:replace="item.grid_title"/></h1>
	  
	  <div py:content="item.grid(item.grid_data)"></div>
	</span>
	
	<span py:when="False">
	  <h1>No ${item.grid_title}</h1>
	</span>
	
	</div>
      </div>
    </div>
        
  </py:def>

  
  
</html>

<py:def function="item_list_without_link(items)">
      <div class="crud_table">
        <div py:for="item in items">
	<div py:choose="item.grid_display">
	  
	<span py:when="True">
	  <h1><span py:replace="item.grid_title"/></h1>
	  
	  <div py:content="item.grid(item.grid_data)"></div>
	</span>
	
	<span py:when="False">
	  <h1>No ${item.grid_title}</h1>
	</span>
	
	</div>
      </div>
    </div>
        
  </py:def>

  
  
</html>



