<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="definitions.html"/>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title py:replace="page"></title>
</head>

<body>
  
  <div class="ui-layout-center">
    ${flash()}
    <div class="getting_started">
    


    <a name="Upload" href="#Upload"></a>
    <h2>Tracks</h2>
    <p>
      We call genomic files <span class="imp">Tracks</span>. So to vizualize any genomic data you have to  upload a new one. Select <a href="${tg.url('/tracks')}">Tracks</a> tab and use the form to upload your data. You can enter URL or simply select it from your filesystem.
    </p>
    <p>
      Don't forget to choose the right assembly for your file. See <a href="#Assembly"> how to add an assembly</a>
.
    </p>
    

    


    <a name="Project" href="#Project"></a>
    <h2>Projects</h2>
  <p>
    <span class="imp">Projects</span> are a group of <span class="imp">Tracks</span>. Create one with the <a href="${tg.url('/projects')}">Projects</a> tab, and <span class="imp">edit</span> with the 
    <a class="action edit_link"></a> button. Then select the Tracks you want to see.
</p>

  



  <a name="Share" href="#Share"></a>
    <h2>Circles</h2>
    <p>
      Circles are a group of persons. You can create one with the <a href="${tg.url('/circles')}">Circles</a> tab.<br/><br/>
      You can share <span class="imp">Projects</span> with the <a class="action share_link"></a> button.
      You have two possibilities :
      <ul>
	<li>With the <span class="imp">read/download links</span> (Give that link to annybody and he will be able to <span class="imp">see/download</span> the project's data). </li>
	<li>With a circle you created (You can tweak permissions)</li>
	</ul>
    </p>
    
 
    <a name="Assembly" href="#Assembly"></a>
    <h2>Assemblies</h2>
    <p>
      If the assembly you want to use is missing, use <a href="mailto:webmaster.bbcf@epfl.ch?subject=[GDV] Ask for a new assembly">contact</a>. Specify in the mail which assembly you want to have and it will be added. If the assembly is not very usual, contact us. It can be added very easily.
    </p>
    


    <a name="API" href="#API"></a>
    <h2>Access with an API</h2>
    <p>
      You can access GDV with a simple programming interface. Based on HTTP request, you can create projects, add tracks, and prepare view without the web interface. The simplest if the data you generate is at the end of an analysis pipeline. For more information on it you should read <a href="https://github.com/bbcf/bbcflib/blob/master/bbcflib/gdv.py">the python file</a> that resume the requests to send to GDV.
    </p>
    In order to use it, you will need a <span class="imp">key</span> that you can <a href="mailto:webmaster.bbcf@epfl.ch?subject=[GDV] Ask for an API key">ask</a>.
  </div>

</div>


   <div id="south" class="ui-layout-south">
    ${footer()}
  </div>
   

<div id="north" class="ui-layout-north">
      ${header()}
      ${mainmenu()}
      
</div>
    



</body>
</html>
