<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="definitions.html"/>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title py:replace="page"></title>
    ${jquery()}
    ${layout()}
</head>

<body>
  
  <div id="center_stack" class="ui-layout-center">
    ${flash()}

    <div class="help_section_first">Main view</div> <a name="main" href="#main"></a>
      <p>
          This is the central GDV hub: list the data you have uploaded,
          create new projects, add more data (tracks) and start working/visualizing them.<br/>
      </p>
    <img src="images/help_main.png" width="1000" height="500" style="position:relative;top:6px;"/>



    <div class="help_section">Circles</div><a name="circles" href="#circles"></a>
      <p>
          Circles allow you to setup collaborations: create a circle and add people to it, then share projects with them.
          To add a circle member enter his/her email via the <i>edit</i> link.
      </p>



    <div class="help_section">Sharing</div><a name="share" href="#share"></a>
       You can share a GDV project:
        <ul>
            <li>Via <b>circles</b>: share within a group of collaborators.
              the project will appear in the
              <i>shared project</i> section on the main interface of all users within the circle.
              You can give three different <b>permissions</b> to a circle: </li>
            
            <ul>
              <li>Read: User can view the data in the project
                but not download or add new data to it</li>
              <li>Download: User can view and download the project data.</li>
              <li>Upload: User can edit the project and add or delete tracks.</li>
            </ul>

            <li>Via <b>links</b>: provide <i>public</i> or <i>download</i> access links.</li>

            <ul>
            <li>The public link gives access to view a project. This link allows a user to see all tracks
            in the project but not to download or modify the data.</li>
            <li>The download link enables to copy a project and gives permanent access to the project data.</li>
            </ul>
        </ul>


    <div class="help_section">Jobs</div><a name="share" href="#jobs"></a>
      <p>
      You can launch computations from within GDV:
      in the project view, choose an operation from the <i>Data</i> panel and apply it to selected tracks,
      then fetch the results when the operation is finished.
      </p>

    <div class="help_section">Assemblies</div>
    <p>
      Additional assemblies can can be provided on demand by <a href="mailto:webmaster.bbcf@epfl.ch?subject=[GDV] Ask for a new assembly">email</a>.
    </p>



    <div class="help_section">API</div><a name="API" href="#API"></a>
      <p>
        There a simple programming interface to GDV, based on HTTP requests to create projects, add tracks,
        and prepare view without the web interface.
        For more information read our python library <a href="http://bbcf.epfl.ch/bbcflib/bbcflib_gdv.html">documentation</a>.
        
        There is a <a href="https://raw.github.com/bbcf/bbcfutils/master/Python/pygdv.py">python script</a> that you could use for this purpose. It's part of the <a href="https://github.com/bbcf/bbcfutils/">bbcf utilities</a>.
      </p>
      <p>
        <b>Quick start: </b> 
        <ul>
        <li>wget https://raw.github.com/bbcf/bbcfutils/master/Python/pygdv.py (fetch the file from github)</li> 
        <li>easy_install clize (install a third-party library - perhaps you will need a sudo)</li>
        <li>python pygdv --help</li>
        </ul>
      </p>
      To use the API you need to authenticate with your personal <b>API key</b> that you can retrieve on your <a href="${tg.url('/me')}">user page</a>.
    <br/><br/><br/><br/>
  </div>


  <div id="south" class="ui-layout-south">
      <div id="footer">
        For other questions, use <a href="mailto:webmaster-bbcf@epfl.ch?Subject=[GDV]A question about GDV">email</a>.
      </div>
  </div>


  <div id="north" class="ui-layout-north">
    ${header()}
    ${mainmenu()}
  </div>

  <div class="ui-layout-west">
  </div>

</body>
</html>
