<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="definitions.html"/>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title py:replace="page"></title>
    ${jquery()}
    ${layout()}
</head>

<body>
  
  <div id="center_stack" class="ui-layout-center">
    ${flash()}

    <div class="help_section_first">Main view</div> <a name="main" href="#main"></a>
      <p>
          This is the principal interface view. Here you can find all data you have uploaded.
          From there you can create new projects, add data (tracks) to them and start working/visualizing.<br/>
      </p>
    <img src="images/help_main.png" width="1000" height="500" style="position:relative;top:6px;"/>



    <div class="help_section">Circles</div><a name="circles" href="#circles"></a>
      <p>
          With circles you are able to quickly collaborate between people.
          These are group of persons. You can create and add some people to them.
          Add people to a circle and you will be able to share your projects with them.
          Enter the person email with the <i>edit</i> link.
          You have also possibility to remove people from your circles with the <i>delete</i> link.
      </p>



    <div class="help_section">Sharing</div><a name="share" href="#share"></a>
       With GDV you have the possibility to share a project with someone else. You can do it :
        <ul>
            <li>Via <b>circles</b> : sharing with a group of people.</li>
            <li>Via <b>links</b> : <i>public</i> and <i>download</i> links.</li>

            <ul>
            <li>The public link is an access to the view of your project. User with that link will be able to see all tracks
            in your project, but not to download or modify the data in it.</li>
            <li>The download link enable the entire copy of your project by others. It's a permanent access to the data of your project.</li>
            </ul>
        </ul>

      When you want to share a project with a circle the project will appears in the
      <i>Shared project</i> section on the main interface of all user that are in the circle.
      <p>
          You can give three different <b>permissions</b> to a circle:

      <ul>
          <li>Read : User is able to see the data in your project
              but will not be able to download/add data to it</li>
          <li>Download : User will be able to see and download the data in your project.</li>
          <li>Upload : User will be able to edit the project (name) including adding or deleting tracks.</li>
      </ul>
      </p>

    <div class="help_section">Jobs</div><a name="share" href="#jobs"></a>
      <p>
        With GDV you have the possibility to start some computation from the interface.
      On the project view, you have possibility to choose from some Operations to apply on your tracks.
      Each operation will appears on the <i>Data</i> panel.
      It's where you can fetch back result.
      </p>

    <div class="help_section">Assemblies</div>
    <p>
      If the assembly you want to use is missing, use <a href="mailto:webmaster.bbcf@epfl.ch?subject=[GDV] Ask for a new assembly">contact</a>.
        Specify in the mail which assembly you want to have and it will be added. Even if the assembly is not very usual, contact us.
        It can be added very easily.
    </p>



    <div class="help_section">API</div><a name="API" href="#API"></a>
    <p>
      You can access GDV with a simple programming interface. Based on HTTP requests, you can create projects, add tracks,
        and prepare view without the web interface.
        There is a <a href="https://raw.github.com/bbcf/bbcfutils/master/Python/pygdv.py">python script</a> that you could use for this purpose. It's part of the <a href="https://github.com/bbcf/bbcfutils/">bbcf utilities</a>.
    </p>
    <p>
      <b>Quick start: </b> 
      <ul>
      <li>wget https://raw.github.com/bbcf/bbcfutils/master/Python/pygdv.py (fetch the file from github)</li> 
      <li>easy_install clize (install a third-party library - perhaps you will need a sudo)</li>
      <li>python pygdv --help</li>
    </ul>
    </p>
    In order to use it, you will need your personal <span class="imp">key</span> that you can get <a name="circles" href="private_key">here</a>.
    <br/><br/><br/><br/>
  </div>


  <div id="south" class="ui-layout-south">
      <div id="footer">
        For other questions, use <a href="mailto:webmaster-bbcf@epfl.ch?Subject=[GDV]A question about GDV">email</a>.
      </div>
  </div>


  <div id="north" class="ui-layout-north">
    ${header()}
    ${mainmenu()}
  </div>

  <div class="ui-layout-west">
  </div>

</body>
</html>
