<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Welcome to pygdv</title>
</head>

<body>
    
  <div class="getting_started">
    <h2>The next Genome Browser</h2>
    <p> Most genomics datasets can be viewed as features along the genome. Our aim is to provide a user interaction layer on top of a dynamic genomics data viewer running inside the web browser: the <span class='bold'>Genome Data Viewer</span> (GDV). It was build to be faster and more intuitive to browse. It was build using JBrowse (Skinner, 2009). Moreover, it incorporate a set of tools to explore and analyse your tracks.</p>
    <ol class="getting_started_steps">
      <li class="getting_started_steps">
        <h3>Share and store</h3>
        <p>Upload your genomics files on GDV. They are processed and kept for you. You will be able to download them at any time.</p>
	<p>Create projects. They can be shared with specific permissions to facilitate the interactivity between people.</p>
      </li>
      <li class="getting_started_steps">
        <h3>Play</h3>
        <p> Perform analyses directly from the interface. See what is important and create new hypothesis quickly.</p>
      </li>
    </ol>
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Beta-03 version.</div>
  
  <div class="getting_started">
    <h2>News</h2>
    <ol class="getting_started_steps">
      
      <li class="getting_started_steps">
	<h3>19 Jan. 2012 (b-03)</h3>
	<ol>
	  <li class="bullet">The info panel (click on a gene name) can use <a href="http://reflect.ws" target="_blank">reflect.ws</a></li>
	  <li class="bullet">Public data is removed every 14 days.</li>
	  <li class="bullet">Search is now fonctionnal.</li>
	  <li class="bullet">Various fixes on the interface and on the processing</li>
	</ol>

	<h3>21 Dec. 2011 (b-02)</h3>
	<ol>
	  <li class="bullet">You can change the color of a track.</li>
	  <li class="bullet">A link panel is showed if you click on a gene name.</li>
	  <li class="bullet">Fix : if the gene name is not present, you can click on the feature to see it.</li>
	  <li class="bullet">You can now copy shared project in your profile.</li>
	  <li class="bullet">A public project can be copied into your account.</li>
	  <li class="bullet">Search and sort utilities are added to every table.</li>
	</ol>
	  
	  <h3>12 Dec. 2011 (b-01)</h3>
	  <ol>
	    <li class="bullet">Implemetation of the search bar in the genome view (top right). You can enter a location or a gene name.</li>
	    <li class="bullet">On signal tracks, no use '+' and '-' anymore. You can now directly enter the scores of interest.</li>
	    <li class="bullet">You can specify a location via tue URL with the parameter 'loc'.</li>
	    <li class="bullet">Project are public by default, and can be viewed with an obfuscated link.</li>
	    <li class="bullet">Signal files are now processed faster.</li>
	  </ol>
	</li>
      </ol>
    </div>
    
  </body>
</html>
