<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Welcome to pygdv</title>
</head>

<body>
    
  <div class="getting_started">
    <h2>The next Genome Browser</h2>
    <p> Most genomics datasets can be viewed as features along the genome. Our aim is to provide a user interaction layer on top of a dynamic genomics data viewer running inside the web browser: the <span class='bold'>Genome Data Viewer</span> (GDV). It was build to be faster and more intuitive to browse. It was build using JBrowse (Skinner, 2009). Moreover, it incorporate a set of tools to explore and analyse your tracks.</p>
    <ol class="getting_started_steps">
      <li class="getting_started_steps">
        <h3>Share and store</h3>
        <p>Upload your genomics files on GDV. They are processed and kept for you. You will be able to download them at any time.</p>
	<p>Create projects. They can be shared with specific permissions to facilitate the interactivity between people.</p>
      </li>
      <li class="getting_started_steps">
        <h3>Play</h3>
        <p> Perform analyses directly from the interface. See what is important and create new hypothesis quickly.</p>
      </li>
    </ol>
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Beta-08 version.</div>
  
  <div class="getting_started">
    <h2>News</h2>
    <ol class="getting_started_steps">
      
      <li class="getting_started_steps">
      <h3>29 May. 2012 (b-08)</h3>
      <ol>
          <li class="bullet">New job management system, GDV uses <a href="http://bbcf.epfl.ch/jl">joblauncher</a> as a job plugin system.</li>
          <li class="bullet">Many improvements on the interface.</li>
          <li class="bullet">Developer documentation <a href="http://bbcf.epfl.ch/gdv">here</a>.</li>
          <li class="bullet">New system on track upload.</li>
          <li class="bullet">New processing system with <a href="http://celeryproject.org">Celery</a>.</li>
          <li class="bullet">Can add Description on selections.</li>
          <li class="bullet"></li>
      </ol>



	<h3>28 Feb. 2012 (b-07)</h3>
	<ol>
	  <li class="bullet">Track can be moved vertically to superpose them.</li>
	  <li class="bullet">Bugfixes.</li>
	  <li class="bullet">The switch between histogram and track is done at right zoom level.</li>
	  <li class="bullet">Get method enabled for project with the <a href="https://github.com/bbcf/bbcflib/blob/master/bbcflib/gdv.py">API</a>.</li>
	</ol>

	<h3>12 Feb. 2012 (b-06)</h3>
	<ol>
	  <li class="bullet">Display errors when the file inputed is bad.</li>
	  <li class="bullet">Add an help section.</li>
	  <li class="bullet">Selections can be saved and deleted via the interface.</li>
	  <li class="bullet">You can edit circles.</li>
	  <li class="bullet">Add the DNA track.</li>
	  <li class="bullet">Some bugfixes + show error when GenRep is down.</li>
	</ol>
	
	<h3>12 Feb. 2012 (b-05)</h3>
	<ol>
	  <li class="bullet">Bugfixes.</li>
	  <li class="bullet">Displaying "no data" when your track contains no data on the chromosome.</li>
	  <li class="bullet">Preferences (search, items per page, ...) are saved.</li>
	</ol>
	
	<h3>7 Feb. 2012 (b-04)</h3>
	<ol>
	  <li class="bullet">Bugfixes.</li>
	  <li class="bullet">Two public links are available for your project. You can now make it public, and user won't be able to download attached data.</li>
	  <li class="bullet">The Selection is now transparent.</li>
	  <li class="bullet">You can now force to recompute a file from the <a href="https://github.com/bbcf/bbcflib/blob/master/bbcflib/gdv.py">API</a>.</li>
	</ol>
	
	<h3>19 Jan. 2012 (b-03)</h3>
	<ol>
	  <li class="bullet">The info panel (click on a gene name) can use <a href="http://reflect.ws" target="_blank">reflect.ws</a></li>
	  <li class="bullet">Public data is removed every 14 days.</li>
	  <li class="bullet">Search is now fonctionnal.</li>
	  <li class="bullet">Various fixes on the interface and on the processing</li>
	</ol>

	<h3>21 Dec. 2011 (b-02)</h3>
	<ol>
	  <li class="bullet">You can change the color of a track.</li>
	  <li class="bullet">A link panel is showed if you click on a gene name.</li>
	  <li class="bullet">Fix : if the gene name is not present, you can click on the feature to see it.</li>
	  <li class="bullet">You can now copy shared project in your profile.</li>
	  <li class="bullet">A public project can be copied into your account.</li>
	  <li class="bullet">Search and sort utilities are added to every table.</li>
	</ol>
	  
	  <h3>12 Dec. 2011 (b-01)</h3>
	  <ol>
	    <li class="bullet">Implemetation of the search bar in the genome view (top right). You can enter a location or a gene name.</li>
	    <li class="bullet">On signal tracks, no use '+' and '-' anymore. You can now directly enter the scores of interest.</li>
	    <li class="bullet">You can specify a location via tue URL with the parameter 'loc'.</li>
	    <li class="bullet">Project are public by default, and can be viewed with an obfuscated link.</li>
	    <li class="bullet">Signal files are now processed faster.</li>
	  </ol>
	</li>
      </ol>
    </div>
    
  </body>
</html>
