<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title py:replace="page"></title>
</head>

<body>
  
  <div id="controls">
    <div class="actions"><a href="../../${tg.url(model)}s">back</a></div>
    <div class="actions"> Share project ${name}</div>
    <div class="ttactions"><div py:replace="tooltip_links">Title</div></div>
    <div class="actions"><a href='$public'>public link</a></div>
    <div class="actions"><a href='$download'>import link</a></div>
    <div class="ttactions"><div py:replace="tooltip_permissions">Title</div></div>
  </div>
  
  <div class="circle_form">
    <div py:replace="widget.display()">Share Form</div>  
  </div>

  <div class="share_table crud_table" >
    <div py:for="item in items">
      <div py:choose="item.grid_display">
	<span py:when="True">
	  <div py:content="item.grid(item.grid_data)"></div>
	</span>
	
	<span py:when="False">
	</span>
	
      </div>
    </div>
  </div>
  
</body>
</html>
