<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title py:replace="page"></title>
    ${jquery()}
    ${layout()}
</head>

<body>
  

  <div class="ui-layout-center">
    <div class="circle_form">
      <div py:replace="widget.display()">Share Form</div>  
    </div>
    
    <div class="share_table crud_table" >
      <div py:for="item in items">
	<div py:choose="item.grid_display">
	  <span py:when="True">
	    <div py:content="item.grid(item.grid_data)"></div>
	  </span>
	  
	  <span py:when="False">
	  </span>
	  
	</div>
      </div>
    </div>
  </div>



 <div id="south" class="ui-layout-south">
    ${footer()}
  </div>





 <div id="north" class="ui-layout-north">
    ${header()}
    ${mainmenu()}


    <ul id="controls">
	    <li><a class="action" href="${tg.url('/tracks')}?pid=$project_id">back</a></li>
        <li>Share project <b>${name}</b></li>
        <li><py:replace value="tooltip_links">Title</py:replace></li>
        <li><a class="action" href='$public'>public link</a></li>
        <li><a class="action" href='$download'>import link</a></li>
    </ul>

      
 </div>
 







  
</body>
</html>
