<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title py:replace="page"></title>
      ${jquery()}
      ${layout()}
      ${species()}
  </head>
  
  <body>
    


    <div class="ui-layout-center">
      <div class="new_form">
	   ${widget.display()}
      </div>
    </div>
    
    <div id="south" class="ui-layout-south">
      ${footer()}
    </div>
    




    <div id="north" class="ui-layout-north">
      ${header()}
      ${mainmenu()}
      
      <div id="controls">
	<div class="actions"><a href="${tg.url('/tracks')}">back</a></div>
      </div>
      
      
 </div>
 


    

  </body>
</html>
