<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="definitions.html"/>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <script type="text/javascript" src="${tg.url('/javascript/jslib/tw2.dynforms/dynforms.js')}"></script>
  <title py:replace="page"></title>
</head>

<body>
  
  
 
    
    
  
    
	


    <ul id="left_stack" class="ui-layout-west"> 
	<py:for each="dic in project_list">
	  <!-- <py:choose test="dic[0]"> -->
	  <!--   <py:when test="None"><li class="all"><a href="${tg.url('/tracks')}">${dic[1]}</a></li></py:when> -->
	  <!--   <py:otherwise><li class="${('', 'selected')[defined('project_id') and project_id == dic[0]]}"><a href="${tg.url('/tracks')}?pid=${dic[0]}">${dic[1]}</a></li></py:otherwise> -->
	  <!-- </py:choose> -->
	  <div py:choose="">
	    <span py:when="dic[0] == None"><li class="all"><a href="${tg.url('/tracks')}">${dic[1]}</a></li></span>
	    
	    <span py:when="project_id == None and len(dic) == 3"><li class="shared"><a href="${tg.url('/tracks')}">${dic[1]} ${dic[2]}</a></li></span>
	    <span py:when="project_id == None"><li><a href="${tg.url('/tracks')}?pid=${dic[0]}">${dic[1]}</a></li></span>
	    
	    <span py:when="dic[0] == int(project_id) and len(dic) == 3"><li class="selected"><a href="${tg.url('/tracks')}?pid=${dic[0]}">${dic[1]} ${dic[2]}</a></li></span>
	    <span py:when="dic[0] == int(project_id)"><li class="selected"><a href="${tg.url('/tracks')}?pid=${dic[0]}">${dic[1]}</a></li></span>
	    
	    <span py:when="len(dic) == 3"><li class="shared"><a href="${tg.url('/tracks')}?pid=${dic[0]}">${dic[1]} ${dic[2]}</a></li></span>
	    <span py:otherwise=""><li><a href="${tg.url('/tracks')}?pid=${dic[0]}">${dic[1]}</a></li></span>
	    
	  </div>
	</py:for>
	
      </ul>
    
    
    
    
    <div class="ui-layout-center crud_table">
    ${flash()}
      <div py:for="item in track_list">
	<div py:choose="item.grid_display">
	  
	  <div py:when="True">
	    <div py:content="item.grid(item.grid_data)"></div>
	  </div>
	  <div py:when="False">
	      <h3>No tracks here, you may want to 
		<a href="${tg.url('/tracks/new')}${('', '?pid=')[defined('project_id') and project_id != None]}${project_id}">
		  upload</a> new one.</h3> or
	      <h3>	<a href="${tg.url('/projects/edit')}/${project_id}">
		  edit</a> the project.</h3>
	      
	  </div>
	</div>
      </div>
    </div>
  
  <div id="south" class="ui-layout-south">
    ${footer()}
  </div>
	
  


  <div id="north" class="ui-layout-north">
    ${header()}
    ${mainmenu()}
    <div id="controls">
      
      <div id="add_project" class="ttactions">
	<a id="add_project_c" href="${tg.url('/projects/new')}">New Project</a>
      </div>
      
      <div style="${('display:none', '')[defined('project_id') and project_id != None]}">
	
	<div class="ttactions">
	  <a id="view_project"  href="${tg.url('/projects/view')}/${project_id}">View Project</a>
	</div>

	<div class="ttactions">
	  <a id="edit_project"  href="${tg.url('/projects/edit')}/${project_id}">Edit Project</a>
	</div>

	<div class="ttactions">
	  <a id="share_project"  href="${tg.url('/projects/share')}/${project_id}">Share Project</a>
	</div>
	<div class="ttactions">
	  <a id="remove_project"  href="${tg.url('/projects/delete')}/${project_id}">Delete Project</a>
	</div>
      </div>
      
      <div class="ttactions">
	<a id="add_track_c" href="${tg.url('/tracks/new')}${('', '?pid=')[defined('project_id') and project_id != None]}${project_id}">Upload Track</a>
      </div>
      


      <div class="ttactions"><span py:replace="tooltip"/></div>
    </div>
  </div>
 
  
  
</body>
</html>
