<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  
  <!-- <xi:include href="master.html" /> -->
  <!-- <xi:include href="definitions.html"/> -->
  <head>
  
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <!-- <title py:replace="page"></title> -->
    
    
     
    <meta http-equiv="Author" content="Jarosz Yohan"/>
    <meta http-equiv="Cache-control" content="public"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/> 
    <meta http-equiv="Content-Script-Type" content="text/javascript"/> 
    <meta name="Keywords" content="genome,browser,browsing"/> 
    
    
    <!-- <link rel="stylesheet" type="text/css" href="gdv_style.css"/> -->
    <link rel="stylesheet" type="text/css" href="${tg.url('/javascript/jslib/dijit/themes/tundra/tundra.css')}"/>
    <link rel="stylesheet" type="text/css" href="${tg.url('/javascript/jslib/dojo/resources/dojo.css')}"/>
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/genome.css')}"/>
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"/> -->
    <script type="text/javascript" src="${tg.url('/javascript/jslib/dojo/dojo.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/jslib/raphael.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/gdv.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/Jobs.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/TabContainer.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/MenuBar.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/Canvas.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/Browser.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/Track.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/LinkPanel.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/GeneNames.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/FeatureTrack.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/SequenceTrack.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/touchjBrowse.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/ImageTrack.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/Layout.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/LazyArray.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/LazyPatricia.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/NCList.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/UITracks.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/Util.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/GenomeView.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/TrackSelection.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/ZoneSelection.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/GFeatMiner.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/GenRep.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/js/Minimap.js')}"></script>
    
    <script type="text/javascript" src="${tg.url('/javascript/jslib/dojo/jbrowse_dojo.js')}"></script>

    
    <!--some javascript control, starting the browser -->
    <script type="text/javascript">
      <span py:replace="ref_seqs"/>
    </script>
    <script type="text/javascript">
      <span py:replace="track_info"/>
    </script>
    <script type="text/javascript">
      <span py:replace="parameters"/>
    </script>
    <script type="text/javascript">
      <span py:replace="style_control"/>
    </script>
    <script type="text/javascript">
      <span py:replace="control"/>
    </script>
    <script type="text/javascript">
      <span py:replace="selections"/>
    </script>
    
  </head>
  <style>
    #menu_items {
    padding:0px 12px 0px 2px;
    list-style-type:None
    }
  </style>
  
  <body class="tundra">
      
    <div id="GenomeBrowser" style="height: 100%; width: 100%; padding: 0; border: 0;"></div>
    <!-- some parameters -->
    <span id="species_name" style="display:none"><span py:replace="species_name" style="display:none"/></span>
    <span id="nr_assembly_id" style="display:none"><span py:replace="nr_assembly_id"  style="display:none"/></span>
    <span id="project_id" style="display:none"><span py:replace="project_id"  style="display:none"/></span>
    <span id="is_admin" style="display:none"><span py:replace="is_admin"  style="display:none"/></span>
    <span id="init_jobs" style="display:none"><span py:replace="init_jobs"  style="display:none"/></span>
  
  </body>
</html>
